# Define a host for the local machine
define host {
        use             linux-server            ; Name of host template to use
        host_name       todd                  ; Name of the host to monitor
        alias           Tomcat Server                 
        address 10.6.0.3
        notifications_enabled   1
        contact_groups admins
        check_command check-host-alive
}

define service {
    use                     local-service
    host_name               todd
    service_description     ToddSessionsPassive
    check_command           check_dummy!0 "Available Sessions OK"
    passive_checks_enabled  1
    active_checks_enabled   0
    contact_groups          admins
    notifications_enabled   1
    event_handler_enabled   1
    event_handler           check_nrpe!grow_todd
}


define service{
    use                     local-service         ; Name of service template to use
    host_name               todd
    service_description     Todd-Server
	check_command			check_todd_server
    contact_groups          admins
    notifications_enabled   1
    event_handler_enabled   1
    event_handler           check_nrpe!restart_todd
}

define service{
    use                     local-service         ; Name of service template to use
    host_name               todd
    service_description     Todd-Number-Sessions
	check_command			check_todd_sessions
    contact_groups          admins
    notifications_enabled   1
}

# Define a service to check if SSH is running on the host
define service {
    use             generic-service         ; Name of service template to use
    host_name       todd                  ; Name of the host to monitor
    service_description Check SSH                 ; A friendly name for the service
    check_command   check_ssh               ; Name of the Nagios plugin to use
    contact_groups          admins
    notifications_enabled   1
}

#check number of users
define service {

    use                     local-service           ; Name of service template to use
    host_name               todd
    service_description     Check Number Users
    check_command           check_nrpe!check_users
    contact_groups          admins
    notifications_enabled   1
}

#check CPU load
define service{
    use generic-service
    host_name todd
    service_description CPU Load
    check_command check_nrpe!check_load
    contact_groups          admins
    notifications_enabled   1
}

define service{
    use generic-service
    host_name todd
    service_description Zombie Process
    check_command check_nrpe!check_zombie_procs
    contact_groups          admins
    notifications_enabled   1
}

define service{
    use generic-service
    host_name todd
    service_description Total Processes
    check_command check_nrpe!check_total_procs
    contact_groups          admins
    notifications_enabled   1
}